:root {
  --box-light: #333333;
  --box-medium: #252526;
  --box-dark: #1e1e1e;

  --light-primary: #00cc4d;
  --light-secondary: #fff;

  --dark-primary: #333333;
  --dark-secondary: #303030;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  user-select: none;
}

/* THEME COLORS */
.theme-bg-green {
    background-color: var(--light-primary);
}

/* FA ICONS */
fa-icon.hoverable:hover {
    cursor: pointer;
}

fa-icon.fs-main {
    font-size: 30px;
}