.header {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);

  margin-bottom: 15px;
  color: #ddd;
}

/* HEADER TITLE */

#header-title {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 2;
}

#header-title h3 {
  text-align: center;
  margin: 0 10px;
  width: fit-content;
  user-select: none;
}

#header-title h3:hover {
  cursor: pointer;
}

/* CALENDAR VIEW ACTIONS */

#calendar-view-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  grid-column-start: 3;

  font-size: 25px;
}

#calendar-view-actions > fa-icon {
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 10px;
}

#calendar-view-actions> fa-icon {
  cursor: pointer;
}

#calendar-view-actions > .view-action:hover {
  background-color: #444;
}

#today-btn {
  user-select: none;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: var(--box-dark);
  color: #ddd;
  margin-right: 10px;
}

/* VIEW CONTAINERS */
.view-container {
  height: 94%;
}

#month-view {
  display: grid;
  /* grid-template: 0.3fr repeat(6, 1fr) / repeat(7, 1fr); */
}

#week-view {
  display: grid;
  grid-template: repeat(2, 0.05fr) 1fr / repeat(7, 1fr);
}

.view-container .day-header {
  color: #ddd;
  text-align: center;
  user-select: none;
}

#cell {
  display: grid;
  grid-template: repeat(4, 25%) / 1fr;  

  padding: 5px;
  border: 1px solid #ddd;
  color: #ddd;
  background-color: var(--box-light);
}

#cell .date-text {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: fit-content;
  padding: 12px;
  border-radius: 30px;
  user-select: none;
}

#cell div:nth-child(1) {
  justify-self: center;
}

#week-col {
  display: flex;
  justify-content: center;

  color: #ddd;
}

#week-col .date-text {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 30px;
  width: fit-content;
  padding: 12px;
  border-radius: 30px;
  user-select: none;
}