.simple-view {
  display: grid;
  grid-template: repeat(20, 5%) / 1fr 3fr;

  height: 100%;
}

.box {
  background-color: #bbb;
}

.box-light {
  background-color: var(--box-light);
}

.box-medium {
  background-color: var(--box-medium);
}

.box-dark {
  background-color: var(--box-dark);
}

.explorer {
  display: flex;
  flex-direction: column;

  grid-row: 1 / span 20;
}

/* EXPLORER HEADER */
#explorer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #ddd;
  text-transform: uppercase;
  padding: 10px 20px;
  user-select: none;
  font-size: 14px;
}

#header-settings {
  padding: 3px 6px;
  border-radius: 5px;
}

#header-settings:hover {
  cursor: pointer;
  background-color: #444;
}

#collapsable-item-container {
  position: absolute;
  background-color: var(--box-light);
  border: 1px solid #474747;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 0 5px black;
  width: 180px;
}

.collapsable-item {
  text-transform: none;
  border-radius: 10px;
  padding: 5px 10px;
}

.collapsable-item:hover {
  cursor: pointer;
  background-color: #04395e;
}

.collapsable-item > * {
  margin-right: 5px;
}

/* EXPLORER HEADER */

/* EXPLORER CATEGORIES */
#explorer-categories {
  display: flex;
  flex-direction: column;

  flex-grow: 2;
}

/* EXPLORER CATEGORIES */

/* EXPLORER FOOTER */
#explorer-footer {
  display: grid;
  grid-template: 1fr / repeat(11, 9.09%);

  color: #ddd;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 25px;
}

#explorer-footer fa-icon:hover {
  cursor: pointer;
  color: #fff;
}

#settings-icon {
  grid-column-start: 5;
}

#support-icon {
  grid-column-start: 6;
}

#profile-icon {
  grid-column-start: 7;
}

.stats {
  grid-column-start: 2;
  grid-row: 1 / span 4;
}

.stats h4 {
  text-align: center;
  color: #ddd;
}

.calendar {
  grid-column-start: 2;
  grid-row: 5 / span 16;

  padding: 20px;
}