<div class="simple-view">
  <div class="explorer box box-light">
    <div id="explorer-header">
      <span>Explorer</span>
      <div>
        <fa-icon id="header-settings" [icon]="faEllipsis" (click)="openHeaderSettings()"></fa-icon>
        <div id="header-settings-item-container" *ngIf="showHeaderSettings">
          <div class="header-settings-item">
            <fa-icon [icon]="faCheck"></fa-icon>
            <span>Income</span>
          </div>
          <div class="header-settings-item">
            <fa-icon [icon]="faCheck"></fa-icon>
            <span>Recurring Expenses</span>
          </div>
          <div class="header-settings-item">
            <fa-icon [icon]="faCheck"></fa-icon>
            <span>Individual Expenses</span>
          </div>
          <div class="header-settings-item">
            <fa-icon [icon]="faCheck"></fa-icon>
            <span>Stats</span>
          </div>
        </div>
      </div>
      
      
    </div>
    <div id="explorer-categories">
      <app-sidebar-collapsable name="Income">

      </app-sidebar-collapsable>
      <app-sidebar-collapsable name="Recurring Expenses">

      </app-sidebar-collapsable>
      <app-sidebar-collapsable name="Individual Expenses">

      </app-sidebar-collapsable>
      <app-sidebar-collapsable name="Stats">

      </app-sidebar-collapsable>
    </div>
    <div id="explorer-footer">
      <fa-icon id="settings-icon" [icon]="faGear"></fa-icon>
      <fa-icon id="support-icon" [icon]="faHeadset"></fa-icon>
      <fa-icon id="profile-icon" [icon]="faUser"></fa-icon>
      <fa-icon id="theme-icon" [icon]="getThemeIcon()" (click)="toggleTheme()"></fa-icon>
    </div>
  </div>
  <app-calendar class="calendar box box-dark"></app-calendar>
</div>