<div class="simple-view">
  <div class="income box">
    <label for="frequency">Frequency</label>
    <select name="frequency">
      <option value="bi-weekly">Bi-Weekly</option>
    </select>
    <label for="income-amount">Income</label>
    <input type="number" name="income-amount" placeholder="Enter income amount..." />
    <label for="recent-income-date">Recent income date</label>
    <input type="date" name="recent-income-date" />
  </div>
  <app-expenses class="expenses box"></app-expenses>
  <div class="stats box">
    <h4>Stats</h4>
  </div>
  <app-calendar class="calendar box"></app-calendar>
</div>