<div class="bg-main h-full w-full bg-emerald-500 -z-10"></div>

<div class="title text-7xl">Budget Bunny</div>
<div class="subtitle text-2xl text-gray-500">Some creative tagline...</div>

<div class="intro-text text-2xl w-4/12 absolute top-40 right-32 font-medium flex flex-col gap-4 items-center">
  <span>
    If you are looking for a one-stop-shop to manage and review all of your financial transactions, 
    then you've come to the right spot! Adventure onwards by clicking below to start managing your accounts like a financial wizard!
  </span>
  <button class="btn-primary text-white h-14 w-60">Start Tracking</button>
</div>