.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    padding: 5px 20px;

    background-color: var(--light-primary);
    color: white;
}

#left-items {
    display: flex;
    align-items: center;
}

#right-items {
    display: flex;
    align-items: center;
}

#title {
    margin: 0 30px;

    color: var(--light-secondary);
    font-size: 35px;
    text-decoration: none;
}

/* PAGES */
#pages {
    display: flex;
    align-items: center;
}

#pages > a {
    margin-right: 20px;
    padding: 10px;

    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

#pages .selected {
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.4);
}

/* THEME */
#toggle-theme {
    padding: 10px;
    border-right: 2px solid #fff;
}

/* ACTIONS */
#actions fa-icon {
    padding: 5px 10px;
}