<table>
  <thead>
    <tr>
      <th style="width: 40%">Name</th>
      <th style="width: 30%">Frequency</th>
      <th style="width: 30%">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div>
          <input type="text" class="form-control" value="Main Job">
        </div>
      </td>
      <td>
        <select class="form-select" aria-label="Default select example">
          <option value="bi-weekly">Bi-Weekly</option>
        </select>
      </td>
      <td>
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="cell-input-add"></div>
      </td>
      <td>
        <div class="cell-input-add"></div>
      </td>
      <td>
        <div class="cell-input-add"></div>
      </td>
    </tr>
  </tbody>
</table>
