.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: #ddd;
}

h3 {
  text-align: center;
  margin: 0 10px;
  width: 130px;
  user-select: none;
}

.header > fa-icon {
  font-size: 20px;
}

.header > fa-icon:hover {
  cursor: pointer;
}

.cell-container {
  display: grid;
  grid-template: .3fr repeat(6, 1fr) / repeat(7, 1fr);

  height: 90%;
}

.cell-container .day-header {
  color: #ddd;
  text-align: center;
  user-select: none;
}

.cell {
  display: grid;
  grid-template: repeat(4, 25%) / 1fr;  

  padding: 5px;
  border: 1px solid #ddd;
  color: #ddd;
  background-color: var(--box-light);
}

.cell div:nth-child(1) {
  justify-self: center;
}

.cell .date-text {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: fit-content;
  padding: 12px;
  border-radius: 30px;
  user-select: none;
}