<div class="header">
  <div id="header-title">
    <fa-icon [icon]="faAngleLeft" (click)="shiftMonth(-1)"></fa-icon>
    <h3>{{ getFormattedTitleDate() }}</h3>
    <fa-icon [icon]="faAngleRight" (click)="shiftMonth(1)"></fa-icon>
  </div>
  <div id="calendar-view-icons">
    <fa-icon
      [icon]="faCalendarMonth"
      [ngStyle]="getCalendarViewStyles(MONTH)"
      (click)="setCalendarView(MONTH)"
    ></fa-icon>
    <fa-icon
      [icon]="faCalendarWeek"
      [ngStyle]="getCalendarViewStyles(WEEK)"
      (click)="setCalendarView(WEEK)"
    ></fa-icon>
    <fa-icon
      [icon]="faCalendarDay"
      [ngStyle]="getCalendarViewStyles(DAY)"
      (click)="setCalendarView(DAY)"
    ></fa-icon>
  </div>
</div>
<div class="cell-container">
  <div class="day-header">Sunday</div>
  <div class="day-header">Monday</div>
  <div class="day-header">Tuesday</div>
  <div class="day-header">Wednesday</div>
  <div class="day-header">Thursday</div>
  <div class="day-header">Friday</div>
  <div class="day-header">Saturday</div>
  <ng-container *ngIf="isMonthView()">
    <div
      class="cell"
      *ngFor="let calendarDate of calendarDates"
      [ngStyle]="{ opacity: calendarDate.isInCurrMonth ? '100%' : '50%' }"
    >
      <div
        class="date-text"
        [style.backgroundColor]="isDateToday(calendarDate.date) ? '#04395e' : ''"
      >
        {{ calendarDate.dateStr }}
      </div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </ng-container>
  <ng-container *ngIf="isWeekView()">
    <div
      class="week-col"
      *ngFor="let calendarDate of calendarDates"
    >
      <div
        class="date-text"
        [style.backgroundColor]="isDateToday(calendarDate.date) ? '#04395e' : ''"
      >
        {{ calendarDate.dateStr }}
      </div>
    </div>
  </ng-container>
</div>
<ng-container *ngIf="isDayView()">
    
</ng-container>