.header {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);

  margin-bottom: 15px;
  color: #ddd;
}

h3 {
  text-align: center;
  margin: 0 10px;
  width: 130px;
  user-select: none;
}

#header-title {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 2;
}

#header-title > fa-icon {
  font-size: 20px;
}

#header-title > fa-icon:hover {
  cursor: pointer;
}

#calendar-view-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  grid-column-start: 3;

  font-size: 25px;
}

#calendar-view-icons > fa-icon {
  padding: 5px 10px;
  border-radius: 10px;
  margin-right: 10px;
}

#calendar-view-icons > fa-icon:hover {
  cursor: pointer;
  background-color: #444;
}

.cell-container {
  display: grid;
  grid-template: 0.3fr repeat(6, 1fr) / repeat(7, 1fr);
  
  height: 95%;
}

.cell-container .day-header {
  color: #ddd;
  text-align: center;
  user-select: none;
}

.cell {
  display: grid;
  grid-template: repeat(4, 25%) / 1fr;  

  padding: 5px;
  border: 1px solid #ddd;
  color: #ddd;
  background-color: var(--box-light);
}

.cell div:nth-child(1) {
  justify-self: center;
}

.cell .date-text {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: fit-content;
  padding: 12px;
  border-radius: 30px;
  user-select: none;
}