:host {
  flex-grow: 0;
  transition: flex-grow 0.15s;
}

:host.expanded {
  flex-grow: 2;
  transition: flex-grow 0.25s;
}

.collapsable {
  border-top: 2px solid #474747;
  color: #ddd;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 0;
}

app-sidebar-collapsable:nth-of-type(1) > div.collapsable {
  border: none;
}

.collapsable:hover {
  cursor: pointer;
}

.collapsable .icon {
  display: inline-block;
  width: 22px;
  text-align: center;
}

.collapsable > span {
  text-transform: uppercase;
  user-select: none;
}