:root {
  --box-light: #333333;
  --box-medium: #252526;
  --box-dark: #1e1e1e;
}

html, body {
  height: 100%;
}

app-root, app-simple-view {
  display: block;
  height: 100%;
}

body {
  margin: 0;
}